body {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  input, textarea {
    -webkit-appearance: none;
    outline: none;
    border: none;
  }